
/**Integration back-office**/
/*Header*/
#app-nav{
    width: 25%;
}
div.user_connected{
    position: relative;
    left: 50%;
    width: 20%;
    background-color: aqua;
}

div#title{
    font-size: 17px;
    margin:14px 1%;
    color: #001f3f;
}
/*SideBar*/
nav.nav_left{
    grid-area: nav_left;
    background-color: white;
    box-shadow: 3px 3px 10px rgba(141, 141, 141, 0.1);
   /* animation: smoothBar 2s ease; */
}

div#content{
    grid-area: content;
    background-color: rgb(250, 249, 249);
}

main.withSidebar{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-auto-rows: minmax(123px, auto);
    grid-gap:2px;
    grid-template-areas: 
    "nav_left content content content content content content"
    "nav_left content content content content content content"
    "nav_left content content content content content content"
    "nav_left content content content content content content"
    "nav_left content content content content content content"
    ;
    margin: 3px 0;
}

main.noSidebar{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-auto-rows: minmax(123px, auto);
    grid-gap:2px;
    grid-template-areas: 
    "content content content content content content"
    "content content content content content content"
    "content content content content content content"
    "content content content content content content"
    "content content content content content content"
    ;
    margin: 3px 0;
}

.togglebars_icon{
    position: relative;
    left: 2%;
    cursor: pointer;
    width: 30px;
}

@keyframes smoothBar {
    0%{
        opacity: 0;
        transform: translateX(-200px);
    }
    50%{
        opacity: 0.5;
        transform: translateX(-100px);
    }
    100%{
        transform: translateX(0px); 
    }
}
.nav_left ul{
    padding: 0px;
}
.nav_left ul li{
    list-style: none;
    margin:5px 15px 5px 0px;
    padding: 15px 10px;
    cursor: pointer;
}

.nav_left ul li:hover{
   background-color: rgba(253, 251, 251, 0.774);
   border-radius: 0px 20px 20px 0px;
   color: #001f3f;
   font-weight: bold;
   border-left: #001f3f solid 5px;
}

.nav_left ul li svg{
    margin: 0 2px;
    width: 14%;
}
.nav_left ul li.active{
   background-color: rgba(238, 235, 235, 0.5);
   border-radius: 0px 20px 20px 0px;
   color: #001f3f;
   font-weight: bold;
   border-left: #001f3f solid 5px;
}

.nav_left ul li.active svg{
    margin: 0px !important;
}

@media only screen and (max-width: 695px) {
    div.user_connected{
        position: relative;
        left: 25%;
        width: 20%;
        background-color: aqua;
    }
    
}



